<!DOCTYPE html>
<% include partials/head %>
<% include partials/navbar %>

        <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                      <div class="introBox">
                        <h1>Kiddish</h1>
                        <h3>Memory for a life time!</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/signup" class="btn btn-danger btn-lg"><span class="network-name">Sign Up</span></a>
                            </li>
                            <li>
                                <a href="/login" class="btn btn-danger btn-lg"><span class="network-name">Login</span></a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- /.container -->

<% include partials/footer %>

