<% include partials/head %>
<!-- start navbar -->
<% include partials/navbar %>
    			<!-- start navtabs -->
			    <div class="navbar-collapse collapse">
			      	<ul class="nav navbar-nav navbar-right">
			     	   	<li><a href="/">Home</a></li>
			        	<li><a href="/profile">Profile</a></li>
			        	<li class="active"><a href="/login">Login</a></li>
						<li><a href="/signup">Sign Up</a></li>
						<li class="dropdown"> </li>
					</ul> 
				</div>	        
		    </div>
		</div>
		<!--end navtab-->
		<BR><BR><BR><BR>
<h1>index</h1>
    			<!-- start navtabs -->
			   	        

    <p>This is the index page</p>
    
<% include partials/footer %>