<!DOCTYPE html>
<html lang="en">
 	 <head>

    </head>
	<body>
    	<!-- start navbar -->
    	<% include partials/navbar %>

    			<!-- start navtabs -->
			   	        
		<%= userTest %>
    <p>This is the index page</p>
    
  </body>
</html>