<!DOCTYPE html>
<% include ../../partials/head2 %>

<% include ../../partials/navbar2 %>

<!-- Video Recorder -->
    <div id="videoForm">
      <h1>To save your video, please complete the form below:</h1>
      <form action="/users/<%=userId%>/videos" method="POST">
      <h3>Title</h3><input type="text" name="video[title]" size="36"><br>
      <h3>Description</h3><input type="text" name="video[description]" size="36">
      <input type='hidden' name="video[ytVideoId]" id="videoId"/><br><br>
      <button type="submit">Save to Profile</button>
    </form>
    <br><br>
    </div>
    <!--1. The 'widget' div element contains the upload widget. -->
    <!-- The 'player' div element contains the player IFrame. -->
    <div id="widget"></div>
    <div id="player"></div>
<!-- End Video Recorder -->

<% include ../../partials/footer2 %>

