<!DOCTYPE html>
<% include ../../partials/head2 %>

<% include ../../partials/navbar2 %>

<!-- Video Player -->
    <div id="title">
      <h1><%=singleVideo[0].title%></h1>
    </div>
  	<!-- The 'player' div element contains the player IFrame. -->
  	<div>
    	<iframe width="1040" height="590" src="http://www.youtube.com/embed/<%=ytVideoId%>?rel=0&modestbranding=1">
    	</iframe>
    </div>
    <div>
      <div id="title">
        <h3><%=singleVideo[0].description%></h3>
      </div>
    </div>
	</div>
<!-- End Video Player -->

<% include ../../partials/footer2 %>