<!DOCTYPE html>
<% include ../partials/head %>
<% include ../partials/navbar %>
   

	<div class="login">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12">
                	<div class="loginBox">
                		<form method="POST" action="/login">
                		<input type="text" name="email" placeholder="Email"></br></br>
                		<input type="password" name="password" placeholder="Password"></br></br>
                		<button class="btn btn-danger">Login</button>
                		</form>
                	</div>
	            </div>
	        </div>
	    </div>
	</div>

<% include ../partials/footer %>