<% include ../partials/head %>
<!-- start navbar -->
<% include ../partials/navbar %>
    			<!-- start navtabs -->
			    <div class="navbar-collapse collapse">
			      	<ul class="nav navbar-nav navbar-right">
			     	   	<li><a href="/">Home</a></li>
			        	<li><a href="/profile">Profile</a></li>
			        	<li><a 	>Login</a></li>
						<li class="active"><a href="/signup">Sign Up</a></li>
						<li class="dropdown"> </li>
					</ul> 
				</div>	        
		    </div>
		</div>
		<!--end navbar-->

		<br><br><br>
			<div class="col-xs-4">
				<div class="signupBox">
					<form method="POST" action="/signup">
						<input type="text" name="username" placeholder="Username"></br></br>
						<input type="text" name="email" placeholder="Email"></br></br>
						<input type="password" name="password" placeholder="Password"></br></br>
						<button class="btn btn-danger">Sign Up</button>
					</form>
				</div>
				<br>
				      
				      <div>
				        <form method="POST" action="/logout?_method=DELETE">
				          <button class="btn btn-danger">Logout</button>
				        </form>
				      </div>
			</div>


<% include ../partials/footer %>

