<!DOCTYPE html>
<% include ../partials/head %>
<% include ../partials/navbar %>
  

    <div class="sign-up">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                  	<div class="signupBox">
                  		<form method="POST" action="/signup">
                  			<input type="text" name="email" placeholder="Email"></br></br>
                  			<input type="password" name="password" placeholder="Password"></br></br>
                  			<button class="btn btn-danger">Sign Up</button>
                  		</form>
                  	</div>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>

