<!DOCTYPE html>
<html>
  <head>
  	<script src="/scripts/main.js">
    </script>
  </head>
  <body>
    <!--1. The 'widget' div element contains the upload widget. -->
    <!-- The 'player' div element contains the player IFrame. -->
    <div id="widget"></div>
    <div id="player"></div>

    <form>
    	<input type='text' />
    	<textarea></textarea>
		<input type='hidden' id="videoId" />
    </form>
  </body>
</html>